.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-title {
  margin-top: 40px;
  text-align: center;
}

.home-image {
  margin-top: 40px;
  display: block;
  width: 100px;
  height: 100px;
}

.home-link {
  margin-top: 40px;
  font-size: 22px;
  color: #b81d1d;
}
