.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--tg-theme-button-color);
  border: 1px solid gray;
  padding: 15px;
  width: 170px;
  border-radius: 5px;
}

.image {
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
  border-radius: 5px;
  background: var(--tg-theme-button-color);
  background: gray;
}

.title {
  margin-top: 10px;
}

.description {
  margin-top: 5px;
  font-size: 0.8em;
}

.price {
  margin-top: 2px;
}

.add-button {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
