.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--tg-theme-button-color);
  padding: 15px;
  width: 170px;
  border-radius: 5px;
}

.img {
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
  border-radius: 5px;
  background: var(--tg-theme-button-color);
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
}
