* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
